{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.text }}</td>
                <td>{{ question.date ? question.date|date('d/m/Y à H:i') : '' }}</td>
                <td>
                    <a href="{{ path('question_show', {'id': question.id}) }}">Afficher</a>
                    <a href="{{ path('question_edit', {'id': question.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>

    <a href="{{ path('question_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}