{% extends 'base.html.twig' %}

{% block title %}Response index{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Question</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for response in responses %}
            <tr>
                <td>{{ response.id }}</td>
                <td>{{ response.text }}</td>
                <td>{{ response.question }}</td>
                <td>
                    <a href="{{ path('response_show', {'id': response.id}) }}">Afficher</a>
                    <a href="{{ path('response_edit', {'id': response.id}) }}" class="btn btn-primary btn-xs">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('response_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}